/*----- COLORS */
:root{
    --green-color : #9cab0b;
    --green-light-color : #c2cd5e;
    --blue-color:#044c84;
    --blue-light-color:#5780ab;
    --blue-secondary-color:#486498;
}

/* -------------------------- RESET ------------------------------- */
html, 
body {
    width: 100%;
    max-width: 1400px;
    overflow-x: hidden;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

*{ box-sizing: border-box }

h1,h2,h3,h4,h5,h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,span,a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    width: 100%;
    margin-bottom: 5em;
    padding: 1em;
}

/* ---------------------- MENU & FOOTER ------------------------------------ */
.Menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: .5em;
    background-color: var(--blue-light-color);    
}
.Menu__image{ width: 100px; border-radius: 10px }
.Menu__nav{ display: flex; align-items: center; gap: 1.5em }
.Menu__nav span{ color: #fff; }
.Menu__a{
    text-decoration: none;
    color: #fff;
    background-color: var(--blue-light-color);
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding: 0 4px 5px 4px;
    position: relative;
}
.Menu__a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .25s;
}
.Menu__a:hover::after{ transform: scaleX(1); }

.Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #d1cfcf;
    text-align: center;
}
.Footer p{ padding: 8px 4px }
.Footer__bottom{
    color: #fff;
    background-color: var(--blue-color);
    padding: 8px;
    font-weight: bold;
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width:500px) {
    .Menu__image{ width: 70px }
    .Menu__a{ font-size: .8em }
    .Menu__a svg{ width: 15px }
}

/* ---------------------- LIST  COMPONENTS ------------------------------------ */

.DivisorComponent{
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1300px;
    margin: auto;
    padding: .3em;
    margin-bottom: 3em;
}
.DivisorComponent__header{
    grid-column: 2 span;
    margin-bottom: 1em;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.DivisorComponent__header > span{
    font-size: 1.2em;
}
.DivisorComponent__header > span b{ color: #044c84; }
.DivisorComponent__order select{
    padding: .5em .5em .5em .2em;
    border: none;
    font-size: 1em;
    margin-left: .3em;
}

.CardsContainer{ padding-left: 1em; border-left: 1.5px solid rgb(66, 66, 66)v}
.CardsContainer__pagination{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    margin-right: 1em;
    position: relative;
}
.CardsContainer__pagination > a{
    font-size: 1.2em;
    cursor: pointer;
    background-color: #5780ab;
    text-decoration: none;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;   
}
.CardsContainer__information{
    position: absolute;
    bottom: -1.8em;
    right: 0;
    color: #6e6e6e;
}

@media screen and (max-width:840px) {
    .DivisorComponent{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .DivisorComponent__header{ grid-column: 1 span }

    .CardsContainer{ padding: 0; margin-top: 2em; }
    .CardsContainer__pagination{ margin-bottom: 2em }
}

@media screen and (max-width:600px){
    .DivisorComponent__header{ display: block }
    .DivisorComponent__order{ margin-top: 1em }
}

/* -------------------------- CARD */
.Card{
    border: 1px solid #b9b9b9;
    margin: 1em 0;
    padding: 2px 6px 2px 6px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: calc(78% - 1em) 22%;
    gap: 1em;
    position: relative;
    text-decoration: none;
    
    transition: background-color .3s;
}
.Card:hover{ background-color: #f1f1f1 }
.Card:hover .Card__h4{ color: #044c84; }
.Card__h4{
    padding-top: 15px;
    margin: .5em .2em;
    font-size: 1.15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
    transition: color .3s;
}
.Card__span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
}
.Card__id{
    position: absolute;
    top: 5px;
    left: 8px;
    font-weight: 700;
    color: #6e6e6e;
    font-family: 'Courier New', Courier, monospace;
}

.Card__span{
    font-size: 1.15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Card__a{
    color:#000;
    font-size:1.4em;
    transition: opacity .3s;
    transition: color .35s;
}
.Card__a:hover{
    color: var(--green-color);
}

.Card--header{
    border:none;
    border-bottom:1px solid rgb(66, 66, 66);
    border-radius:0px;
    padding-bottom:10px;
    font-size: 1.15em;
    margin-top: 0;
}

.Card--equipment{
    grid-template-columns: 60% 30% 10%;
}
.Card--provider a{
    justify-self: center;
}

.FilterComponent{
    padding: 1em;
    position: sticky;
    top: .2em;
    height: fit-content;
    background-color: #f0f0f0;
    
}
.FilterComponent h3{ margin-top: 0; }
.FilterComponent__div{
    margin-top: 1em;
    width: 100%;
}

.FilterComponent__input{
    border: 1px solid #959595;
    font-size: 1.1em;
    padding: .4em .2em;
    outline: none;
    width: 100%;
}

.FilterComponent__label{
    display: block;
}

.FilterComponent__submit{
    padding: .3em .5em;
    font-size: 1.1em;
    margin-top: 1em;
    outline: none;
    background-color: var(--green-color);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
.FilterComponent__submit--reset{ background-color: #6e6e6e; }

